.scrolling_container {
   position:relative;
   width:189px;
   height:110px;
}

.scrolling_overlay1 {
   position:absolute;
   top:0;
   left:0;
   width:189px;
   height:110px;
}

.scrolling_overlay2 {
   position:absolute;
   top:0;
   left:0;
   width:189px;
   height:110px;
}

